# Backend
PORT=8081
APP_ENV=dev

# Mongo
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER_URL>/?retryWrites=true&w=majority
MONGO_DB_NAME=rothira

# CORS
CORS_ALLOWED_ORIGIN=http://localhost:3030

# JWT
JWT_SECRET=<YOUR_SECRET_KEY>
